In [7]:
import pandas as pd
import numpy as np

In [27]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [9]:
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [10]:
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [28]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [30]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9372141 entries, 0 to 9372140
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 643.5+ MB

In [31]:
basics.replace({'\\N':np.nan}, inplace=True)

In [32]:
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1257693
endYear           9273539
runtimeMinutes    6783224
genres             430259
dtype: int64

In [35]:
basics = basics.dropna(subset=['runtimeMinutes','genres','startYear'])

In [36]:
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear               0
endYear           2390928
runtimeMinutes          0
genres                  0
dtype: int64

In [40]:
basics_filter = basics['titleType'] == 'movies'
basics = basics.loc[basics_filter]

In [43]:
basics.head()

Empty DataFrame
Columns: [tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres]
Index: []

In [16]:
akas.replace({'\\N':np.nan}, inplace=True)

In [18]:
akas.isna().sum()

titleId                   0
ordering                  0
title                     5
region              1869211
language            6352080
types              28466971
attributes         33579847
isOriginalTitle        2187
dtype: int64

In [24]:
basics = basics.dropna(subset=['runtimeMinutes','genres','startYear'])

In [ ]:
ratings.replace({'\\N':np.nan}, inplace=True)

In [ ]:
ratings.isna().sum()